/**
 *
 * Bricks - A responsive justified image layout plugin written in
 * vanilla JavaScript, inspired by Google Images.
 * v0.0.1
 * Arjan Jassal <hello@arjanjassal.com>
 * MIT License
 *
 */

.bricks {
	overflow: auto;
<<<<<<< HEAD
 	margin: 0 auto;
=======
 	margin: 0 auto 50px;
>>>>>>> mockup

 	&__item {
 		float: left;
 	}

 	&__img {
 		opacity: 0;
	  transform: scale(0.5);
 		vertical-align: bottom;

 		&--loaded {
 			animation: bricks-animation .25s ease-out;
			animation-fill-mode: forwards;
 		}
 	}
}

@keyframes bricks-animation {
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

